body {
    font-family: Arial, sans-serif;
    background-image: url('assets/IMG-20240815-WA0013.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px;
    padding: 0;
    margin-top:130px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
header {
    background: #0789d4e8;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

header h1 {
    margin: 0;
}
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0789d4e8;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #066da8e8;
}
